.div-back-image {
  /*display: flex;*/
  /*justify-content: center;*/
  background-image: url("../img/images.jpeg");
  background-size: 100%;
  border-radius: 15px;
  border: solid 2px;
  min-height: 100px;
  height: 241px;
  width: 100%;
}
body {
  background-color: #00868B;
}
#subContainerOne, #subContainerTwo, #subContainerThree {
  margin: 1%;
  padding: 1%;
  width: calc(33.33% - 2%);
}
#mainContainer {
  display: flex;
  flex-direction: row;
  border-radius: 15px;
  border: 2px solid black;
  width: 70%;
  length: 70%;
  margin: auto;
  background-color: #FF7600
}
#subContainerOne {
  justify-content: center;
  align-items: center;
  flex-direction: column;
  border-radius: 15px;
  background-color: #40007D;
}
#subContainerTwo {
  justify-content: center;
  align-items: center;
  flex-direction: column;
  border-radius: 15px;
  background-color: #40007D;
}
#subContainerThree  {
  justify-content: center;
  align-items: center;
  flex-direction: column;
  border-radius: 15px;
  background-color: #40007D;
}
#questionForm0, #questionForm1, #questionForm2, #questionForm3, #questionForm4, #questionForm5, #questionForm6, #questionForm7, #questionForm8 {
  background-color: #336600;
  border-radius: 15px;
  font-family: sans-serif;
  color: #d9d926;
  font-weight: bold;
  font-size: 12px;
  padding: 2%;
  height:231px;
  width:100%;
  left: 50%;
  top: 50%;
}
button {
justify-content: flex-end;
}
#youWin {
  background-color: beige;
  border-radius: 15px;
  font-family: sans-serif;
  font-weight: bold;
  padding: 2%;
  height:231px;
  width:100%;
  left: 50%;
  top: 50%;
}
#youLose {
  background-color: beige;
  border-radius: 15px;
  font-family: sans-serif;
  font-weight: bold;
  padding: 2%;
  height:231px;
  width:100%;
  left: 50%;
  top: 50%;
}
