.div-back-image {
  background-image: url("../img/images.jpeg");
  background-size: 100%;
  border-radius: 15px;
  border: solid 2px;
  min-height: 100px;
  height: 251px;
  width: 100%;
}
body {
  background-color: #00868B;
}
#subContainerOne, #subContainerTwo, #subContainerThree {
  margin: 1%;
  padding: 1%;
  width: calc(33.33% - 2%);

}
#mainContainer {
  display: flex;
  justify-content: center;
  flex-direction: row;
  border-radius: 15px;
  border: 2px solid black;
  width: 70%;
  length: 70%;
  margin: auto;
}
#subContainerOne {
  justify-content: center;
  align-items: center;
  flex-direction: column;
  border-radius: 15px;
  background-color: yellow;
}
#subContainerTwo {
  justify-content: center;
  align-items: center;
  flex-direction: column;
  border-radius: 15px;
  background-color: green;

}
#subContainerThree  {
  justify-content: center;
  align-items: center;
  flex-direction: column;
  border-radius: 15px;
  background-color: red;

}

#questionForm0, #questionForm1, #questionForm2, #questionForm3, #questionForm4, #questionForm5, #questionForm6, #questionForm7, #questionForm8 {
  background-color: beige;
  border-radius: 15px;
  font-style: oblique;
  font-weight: bold;
}
