header {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  border-bottom: 1px solid black;
}

header > h2 {
  margin-left: 25%;
}

#canvasContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

canvas {
  border: 2px solid black;
}

body {
  background-color: #00868B;
  font-family: sans-serif;
}

button {
  margin-top: 1%;
}
