/* CSS Normalize */
article,aside,details,figcaption,figure,footer,header,hgroup,nav,section,summary{display:block;}audio,canvas,video{display:inline-block;}audio:not([controls]){display:none;height:0;}[hidden]{display:none;}html{font-family:sans-serif;-webkit-text-size-adjust:100%;-ms-text-size-adjust:100%;}a:focus{outline:thin dotted;}a:active,a:hover{outline:0;}h1{font-size:2em;}abbr[title]{border-bottom:1px dotted;}b,strong{font-weight:700;}dfn{font-style:italic;}mark{background:#ff0;color:#000;}code,kbd,pre,samp{font-family:monospace, serif;font-size:1em;}pre{white-space:pre-wrap;word-wrap:break-word;}q{quotes:\201C \201D \2018 \2019;}small{font-size:80%;}sub,sup{font-size:75%;line-height:0;position:relative;vertical-align:baseline;}sup{top:-.5em;}sub{bottom:-.25em;}img{border:0;}svg:not(:root){overflow:hidden;}fieldset{border:1px solid silver;margin:0 2px;padding:.35em .625em .75em;}button,input,select,textarea{font-family:inherit;font-size:100%;margin:0;}button,input{line-height:normal;}button,html input[type=button],/* 1 */
input[type=reset],input[type=submit]{-webkit-appearance:button;cursor:pointer;}button[disabled],input[disabled]{cursor:default;}input[type=checkbox],input[type=radio]{box-sizing:border-box;padding:0;}input[type=search]{-webkit-appearance:textfield;-moz-box-sizing:content-box;-webkit-box-sizing:content-box;box-sizing:content-box;}input[type=search]::-webkit-search-cancel-button,input[type=search]::-webkit-search-decoration{-webkit-appearance:none;}textarea{overflow:auto;vertical-align:top;}table{border-collapse:collapse;border-spacing:0;}body,figure{margin:0;}legend,button::-moz-focus-inner,input::-moz-focus-inner{border:0;padding:0;}

/* Box-sizing border-box */
* { -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box; }

/* We start writing out flexbox here. The above is just page setup */

body {
  background-color: #00868B;
}

header > h2 {
  font-size: 50px;
  font-family: cursive;
  display: flex;
  flex-direction: row;
  margin-left: 35%;
  justify-content: center;
  align-self: center;
}

header {
  display: flex;
  background-color: orange;
  margin: 10px;
  height: 140px;
  border-radius: 5px;
  flex-direction: row;
  justify-content: flex-start;
  border: solid black;
  /*justify-content: center;
  align-items: center;*/
}
footer {

}

.logo {
  display: flex;
  max-width: 100%;
  max-height: 100%;
  align-self: flex-start;
}

#mainContainer {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}
#containerOne {
  background-color: orange;
  border: solid black;
  margin: 1%;
  padding: 1%;
  border-radius: 5px;
}
#containerTwo {
  background-color: orange;
  border: solid black;
  margin: 1%;
  padding: 1%;
  border-radius: 5px;

}
#containerThree {
  background-color: orange;
  border: solid black;
  margin: 1%;
  padding: 1%;
  border-radius: 5px;

}
#containerFour {
  background-color: orange;
  border: solid black;
  margin: 1%;
  padding: 1%;
  border-radius: 5px;
}
/*.frontOne {
  content:url("img/hugo.jpg");
}*/


/*.teamPhoto {
  border-radius: 5px;
  border: solid black 2px;
}*/
.flip-container {
  -webkit-perspective: 1000;
  -moz-perspective: 1000;
  -o-perspective: 1000;
  perspective: 1000;
	border: 1px solid #ccc;
}

	.flip-container:hover .flipper,
  .flip-container.hover .flipper {
		-webkit-transform: rotateY(180deg);
		-moz-transform: rotateY(180deg);
    -o-transform: rotateY(180deg);
		transform: rotateY(180deg);
	}

.flip-container, .front1, .front2, .front3, .back1, .back2, .back {
	width: 200px;
	height: 250px;
}

.flipper {
	-webkit-transition: 0.6s;
	-webkit-transform-style: preserve-3d;

	-moz-transition: 0.6s;
	-moz-transform-style: preserve-3d;

  -o-transition: 0.6s;
	-o-transform-style: preserve-3d;

	transition: 0.6s;
	transform-style: preserve-3d;

	position: relative;
}

.front1, .front2, .back1, .back2 {
	-webkit-backface-visibility: hidden;
	-moz-backface-visibility: hidden;
  -o-backface-visibility: hidden;
	/*backface-visibility: hidden;*/


	position: absolute;
	top: 0;
	left: 0;
}

/*.frontOne {
	background: url("img/hugo.jpg") 0 0 no-repeat;
	z-index: 2;
}*/

.back1, .back2 {
	-webkit-transform: rotateY(180deg);
	-moz-transform: rotateY(180deg);
  -o-transform: rotateY(180deg);
	transform: rotateY(180deg);
  /*background: url("") 0 0 no-repeat;*/
	background: #f8f8f8;
  /*background: red;*/
}
.front1 .name, .front2 .name {
	background: rgba(33, 33, 33, 0.9);
	color: #f8f8f8;
	text-shadow: 0.1em 0.1em 0.05em #333;

	-webkit-transform: rotate(-20deg);
	-moz-transform: rotate(-20deg);
  -o-transform: rotate(-20deg);
	transform: rotate(-20deg);
}
/*.front2 .name {
  background: rgba(33, 33, 33, 0.9);
  color: #f8f8f8;
  text-shadow: 0.1em 0.1em 0.05em #333;

  -webkit-transform: rotate(-20deg);
  -moz-transform: rotate(-20deg);
  -o-transform: rotate(-20deg);
  transform: rotate(-20deg);*/


}
.back-logo {
	position: absolute;
	top: 40px;
	left: 90px;
	width: 160px;
	height: 117px;
	/*background: url("images.jpeg") 0 0 no-repeat;*/
}
.back1, .back2 p {
	bottom: 40px;
	left: 0;
	right: 0;
	text-align: center;
	padding: 0 20px;
  font-family: arial;
  line-height: 2em;
}
